<main>
  <h1 class="text-center text-uppercase">Hello world</h1>
  <h2 class="text-end text-low ercase">Title 2</h2>
  <h3 class="text-capitalize">Title 3 one two</h3>

  <hr>
  <div class="display-1 text-muted">Hello world</div>
  <div class="display-5">Title 2</div>
  <div class="display-6">Title 3</div>

  <hr>

  <div class="text-muted text-end">Дотаковий текст</div>

  <hr>

  <a href='#' class="btn btn-primary">
    <span class="text-uppercase">Test button</span>
  </a>

  <hr>

  <p>Text</p>
  <p class="text-dark">Text</p>
  <p class="text-muted">Text</p>

  <hr>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-secondary btn-lg">Додати</button>
      <button class="btn btn-outline-secondary">Редагувати</button>
      <button class=" btn btn-outline-dark btn-sm">Видалити</button>
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-body">This is content</div>
  </div>

</main>