<main>

  <section>
    {{#with newsBlock}}
    <h2 class="mt-5 mb-3 text-center">{{title}}</h2>
    <div class="row gx-2 gy-3">
      {{#each cards}}
      <div class="col-3">
        {{> shoppost }}
      </div>
      {{/each}}
    </div>
    {{/with}}
  </section>

  <hr class="my-5">

  <section>
    {{#with goodsBlock}}
    <div class="nav nav-tabs mb-5">
      {{#each tabs}}
      <div class="nav-item">
        {{#if isActive}}
        <a href="#" class="nav-link active">{{text}}</a>
        {{else}}
        <a href="#" class="nav-link {{#if isDisabled}} disabled {{/if}}">{{text}}</a>
        {{/if}}

      </div>
      {{/each}}
    </div>
    <div class="row gy-5 gx-2">
      {{#each cards}}
      <div class="col-4">
        {{> shopcard}}
      </div>
      {{/each}}
    </div>
    {{/with}}
  </section>

  <hr class="my-5">

  <section>
    {{> shoppremium}}

    <hr class="my-5">

    {{> shopaction }}
  </section>
</main>