<div class="card">
    <img class="card-img-top" src="{{image}}" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">{{title}}
            {{#if isHot}}
            <span class="badge bg-warning text-uppercase">Hot</span>
            {{/if}}
            {{#if isNew}}
            <span class="badge bg-primary">New</span>
            {{/if}}
        </h5>
        <p>{{description}}</p>
    </div>
</div>